/* Căn chỉnh bảng dữ liệu */
.gene-description {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 16px;
  margin-bottom: 20px;
  background-color: #ffffff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.gene-header {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.gene-item {
  background-color: #e6f7ff;
  color: #1890ff;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 6px;
  text-align: center;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.gene-tag {
  font-size: 16px;
  padding: 10px;
  background-color: #e6f7ff;
  border-radius: 6px;
  color: blue;
}

.variant-count {
  font-size: 16px;
  font-weight: bold;
  color: #1890ff;
}

div {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 300;
}


